---
layout: default
bodyClass: "page-home"
---



<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content">{{content}}</div>
        </div> 

            </div>
                    <div class="text-center col-12 col-md-4">
      Smart Solar-Powered Surface Cleaner! This eco-friendly water robot features 10W solar charging + Type-C input for uninterrupted operation, working 18+ hours with its 5100mAh battery. With ultrasonic anti-collision and 4 anti-tangle rods, it avoids obstacles effortlessly. Control it remotely via 2.4G Bluetooth (>30m range) or Libos/Tuya App, while its 3W low-power design ensures quiet, efficient cleaning. Perfect for pools and ponds—sustainable, intelligent, and hassle-free!    
        </div>
    </div>

</div>



 {% if page.intro_image %}
  <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
  <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
</div>
  {% endif %}
